@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Mono:wght@400;500&family=Ubuntu:wght@300;400&display=swap');

:root {
  --primary-color: #5490ff;
  --secondary-color: #213760;
  --bg-color: #000f29;
  --black-100: #1f1f1f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  align-items: center;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;

  background-color: var(--bg-color);
}

main {
  margin-top: 2em;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 80px;
  border-radius: 10px;
  color: #fff;
  background-color: var(--primary-color);

  font-family: 'Roboto Mono', monospace;
  font-size: .8rem;
  letter-spacing: 5px;

}

.section h2 {
  font-weight: 500;
}

.container {
  width: 100%;
}

.container-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;

  list-style: none;
}

.card {
  position: relative;
  min-width: 230px;
  max-width: 230px;

  border-radius: 15px;
  min-height: 340px;
  flex: 2;
  margin: 20px 0;
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px rgba(136, 195, 255, 0.3);
  overflow: hidden;
}

.card-border-top {
  position: absolute;

  top: -25px;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;


  border-radius: 15px;
  width: 150px;
  height: 40px;
  background-color: var(--primary-color);
}

.card-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  width: 100%;
  height: 60%;
}

.photo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: 8rem;
  background-color: #000;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.photo-border {
  position: absolute;
  background-image: linear-gradient(#5490ff 40%, #1c005a 60%);
  box-shadow: 0 0 80px #8a54ff;

  width: 130px;
  height: 130px;
  animation: rotate 3s linear infinite;

  border-radius: 50%;
  z-index: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.card-photo img {
  width: 6rem;
  height: 7.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.description {
  width: 100%;
  height: 40%;
  background-color: var(--primary-color);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 -2px 15px rgba(0, 0, 0, 0.2);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: .8rem;

  margin-top: 15px;
  color: #FFF;
}

.about h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: .9rem;
  font-weight: 500;
}

.socials-list {
  display: flex;
  list-style: none;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  width: 28px;
  height: 28px;
  background-color: var(--black-100);
  margin: 20px;

  transition: all .3s ease-in-out;
}

.social-item:hover {
  background-color: rgb(41, 41, 41);
  transform: scale(1.1);
  animation: rotate-icon .5s;
}

@keyframes rotate-icon {
  0% {
    transform: translateX(0px)
  }

  50% {
    transform: translateY(-3px)
  }

  100% {
    transform: translateX(0px) scale(1.1);
  }
}

.social-item img {
  display: flex;
  width: 20px;
  align-items: center;
}

@media (max-width: 660px) {
  .container-cards {
    display: flex;
  }

  .card {
    max-width: 500px;
  }
}

@media (max-width: 330px) {
  .section {
    letter-spacing: 2px;
  }
}